/* body part */
body {
    /* margin: 0; */
    padding: 0;

}

/* first banner */

#first-banner {
    display: flex;
    background-image: url("image/Banne-Image.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    justify-content: center;
    width: 1420px;
    height: 700px;
    margin: 0 auto;

}

#first-all-head {
    color: #FFF;
    text-align: center;
    background-color: rgb(0, 0, 0, 0, );


}

.newyear-head2 {
    margin: 150px 300px;
    font-size: 40px;

}


/* all categories */

#all-categories {
    text-align: center;
}

.off {
    font-size: 60px;
    color: #F00;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

}

.holiday-deals {
    color: #F00;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 5px;


}

.all-categories-cls {
    color: #070211;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
}

.new-year-photo {
    width: 700px;
    height: 450;
    margin-bottom: 100px;
}

/* Midnight party */

#second-banner {
    display: flex;
    background-image: url("image/Vector.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    justify-content: center;
    width: 1420px;
    height: 700px;
    margin: 0 auto;

}

.welcome-to-party {
    padding: 50px;
    color: white;
}

.welcome-to-party>h1 {
    font-size: 70px;
}

.tow-thausand-towenty-four {
    width: 360px;
    height: 480px;
    margin: 65px 200px 0 0;
}

.welcome-first-paragraph {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-right: 370px;

}

.join-now {
    font-size: large;
    padding: 20px 0 0 40px;
    margin-top: 30px;
}



/* New best offer  */


#best-offer {
    display: flex;
    justify-content: center;

}

.best-offer-photo1 {
    text-align: center;
    background-color: #F00;
    margin-top: 150px;
    width: 400px;
    height: 400px;
    align-items: center;
    border-radius: 50%;
}


/* Portfolio */

.gift-paragraph1 {
    color: #F00;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;

}

.gift-head1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 10px;

}

.gift-paragraph2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    /* padding:10px; */
}

#portfolio {
    margin-left: 220px;
    position: relative;
    bottom: 20px;
}

#gift-photo {
    display: flex;
    border-radius: 15px;
    margin-top: 80px;
    margin-left: 220px;
}

.shop-image2 {
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 220px;
    margin-bottom:80px;

}

.shop-image {
    margin-right: 25px;
}

/* Newsletter */

#subscribe{
    display:flex;
    background-color:rgba(255, 0, 0, 0.05);
    background-repeat: no-repeat;
    border-radius: 15px;
    justify-content: center;
    width: 1420px;
    height: 700px;
    margin: 0 auto;
    
}
.subscribe-child{
    margin:0 auto;
}
.subscribe{
    font-weight:bolder;
    font-size:700;
}
.subscribe-paragraph{
    padding:150px;

}